@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.hero {
    /* max-height: 1080px; */
    height: 100dvh;
    max-width: 768px;
    width: 100vw;
    overflow: hidden;
    height: calc(100% - 4rem - 5px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: calc(4rem + 5px + env(safe-area-inset-top)); */
}

/* .hero, .header, .content {
    height: 100vh;
}
@supports (height: 100dvh) {
    .hero, .header, .content {
        height: 100dvh;
    }
} */

.hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: var(--hero-line);
}

.hero img {
    max-width: 768px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 60%;
    /* height: calc(100% - 4rem - 5px); */
    max-height: calc(100vh - 4rem - 5px);
    overflow: hidden;
    display: block;
}

.hero .overlay {
    /* background: linear-gradient(to bottom, rgba(24, 16, 242, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%), rgba(24, 24, 24, 0.84); */
    background: linear-gradient(180deg, rgb(3 7 18) 0%, rgba(12, 14, 21, 0.5) 50%, rgb(3 7 18) 100%);
    width: 100vw;
    /* height: calc(100% - 4rem - 5px); */
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
}

.header {
    max-height: 1080px;
    height: 100%;
    max-width: 48rem;
    width: 100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.header .subTitle, .header .buttons {
    margin-bottom:  clamp(0.75rem, 0.0344rem + 3.0534vw, 1.5rem);
}



.content {
    max-width: 1400px;
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 1rem clamp(1rem, .0458rem + 4.0712vw, 2rem);
}

.header .title  {
    margin-bottom: 0.75rem ;
}
.header h1 {
    /* font-size: clamp(3rem, 2.4512rem + 2.3415vw, 4.5rem); */
    font-size: clamp(2rem, 0.2143rem + 8.9286vw, 4.5rem);
    color: white;
    font-weight: 700;
    /* line-height: 1.25; */
    /* line-height: clamp(3rem, 2.2844rem + 3.0534vw, 3.75rem); */
    /* line-height: clamp(2.25rem, 1.1786rem + 5.3571vw, 3.75rem); */
    /* line-height: clamp(4.7rem, 4.0319rem + 1.3901vw, 5.7rem); */
    line-height: clamp(2.25rem, -0.0878rem + 9.9746vw, 4.7rem);
    margin: 0;
}
.header h1 span {
    /* display: block; */
    color: var(--heading-color);
    margin: 0;
}


.header p {
    color: var(--text-color);
    /* font-size: clamp(1.25rem, 0.7927rem + 1.9512vw, 2.5rem); */
    /* font-size: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem); */
    /* font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem); */
    font-size: 1.125rem;
    list-style:  clamp(0.85rem, 0.7429rem + 0.5357vw, 1rem);
    font-weight: 300;
    /* line-height: 1.75rem; */
    /* line-height: clamp(1.35rem, 0.9683rem + 1.6285vw, 1.75rem); */
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  clamp(0.65rem, 0.4rem + 1.25vw, 1rem);
    width: 100%;
}

@media screen and (min-width:640px) {
    .buttons {
        flex-direction: row;
        /* justify-content: center; */
    }
    .buttons .button {
        max-width: fit-content;
        width: 100%;
    }
}

.button {
    display: inline-block;
    padding:  clamp(0.3rem, 0.1571rem + 0.7143vw, 0.5rem) 1rem;
    /* padding:  0.25rem 1rem; */
    background-color: var(--heading-color);
    color: white;
    border-radius: 0.375rem;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    font-size: clamp(0.75rem, 0.4821rem + 1.3393vw, 1.125rem);
    width: 100%;
    transition: background-color 0.3s ease;
}
.button:hover {
    background-color: rgb(37, 99, 235);
}
.button:nth-child(2) {
    background-color: white;
    color: var(--heading-color);
    border: 1px solid #195fce;
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* gap: 1.5rem; */
    /* gap: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem); */
    gap: clamp(0.5rem, -0.2143rem + 3.5714vw, 1.5rem);
}

.stats .stat {
    display: flex;
    /* padding: 1rem; */
    padding: clamp(0.75rem, 0.5115rem + 1.0178vw, 1rem);
    border-radius: 0.5rem;
    background-color: rgb(17 24 39 / 0.5);
    backdrop-filter: blur(7.5px);
    border: 1px solid rgb(31 41 55 / 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
}
.stats .stat .statValue {
    /* font-size: 1.875rem; */
    font-size: clamp(1.5rem, 1.1422rem + 1.5267vw, 1.875rem);
    /* line-height: 2.25rem; */
    line-height: clamp(1.5rem, 0.7844rem + 3.0534vw, 2.25rem);
    font-weight: 700;
    margin: 0;
}
.stats .stat .statLabel {
    /* font-size: 0.875rem; */
    font-size: clamp(0.75rem, 0.6307rem + 0.5089vw, 0.875rem);
    color: rgb(156 163 175);
    /* line-height: 1.25rem; */
    line-height: clamp(1rem, 0.7615rem + 1.0178vw, 1.25rem);
    /* margin-top: 0.5rem; */
}



@media screen and (max-height: 600px) {
    .stats {
        display: none;
    }
    .header p {
        font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
    }
}


@media screen and (min-width: 768px) {
    .header h1 {
        /* font-size: clamp(4.5rem, 2.1667rem + 4.8611vw, 8rem); */
        
        color: white;
        line-height: clamp(4.7rem, 4.0319rem + 1.3901vw, 5rem);
        /* font-weight: 600; */
    }
    
    .header p {
        /* font-size: 2rem; */
        /* font-weight: 300; */
        line-height: 1.75rem;
        font-size: clamp(0.75rem, 0.3929rem + 1.7857vw, 1.25rem);
    }
    
    .hero {
        max-height: 1080px;
        max-width: 1920px;
    }
    .hero img {
        max-width: 1920px;
        object-position: 50% 60%;
    }

    .stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
}
.stats .stat {
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(17 24 39 / 0.5);
    backdrop-filter: blur(7.5px);
    border: 1px solid rgb(31 41 55 / 1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--heading-color);
}
.stats .stat .statValue {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin: 0;
}
.stats .stat .statLabel {
    font-size: 0.875rem;
    color: rgb(156 163 175);
    line-height: 1.25rem;
    /* margin-top: 0.5rem; */
}
}