.blobRight {
    position: fixed;
    top: 0;
    right: 0;
    width: 750px;
    transform: translateX(50%) translateY(-50%);
    aspect-ratio: 1;
    border-radius: 9999px;
    background-color: rgba(59, 130, 246, 0.15);
    filter: blur(64px);
    z-index: 0;
}
.blobLeft {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 750px;
    transform: translateX(-50%) translateY(50%);
    aspect-ratio: 1;
    border-radius: 9999px;
    background-color: rgba( 59, 130, 246, 0.15);
    filter: blur(64px);
    z-index: 0;
}