.wrapper {
    padding: clamp(1.875rem, 0.0546rem + 7.767vw, 9.375rem);

}

.cars {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.introduction {
    /* max-width: 1080px; */
    height: auto;
    /* padding: 150px; */
    /* padding-top: 50px;
    padding-bottom: 50px; */
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: -0.25;
}

.introduction h2 {
    /* font-size: clamp(2.875rem, 2.2917rem + 1.2153vw, 3.75rem); */
    /* font-size: clamp(1.375rem, -0.0599rem + 6.1224vw, 2.875rem); */
    font-size: clamp(1.375rem, 0.1117rem + 5.3901vw, 3.75rem);
    margin-bottom: 25px;    
}

.introduction .textContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 35px;
}

.introduction .textContainer p {
    /* font-size: 40px; */
    font-weight: 300;
}





@media screen and (min-width: 768px) {
    
    .cars {
        display: flex;
        /* gap: 25px; */
        width: 100%;
        height: 100%;
        
    }
    .textContainer p {
        font-size: clamp(1.5625rem, 1.3958rem + 0.3472vw, 1.8125rem);
    }

    .introduction {
        /* padding-top: 50px;
        padding-bottom: 50px; */
    }

    .wrapper {
        /* padding: clamp(3.125rem, -1.0417rem + 8.6806vw, 9.375rem); */
        padding-top: 50px;
        padding-bottom: 50px;
    }
}