.nav {
    width: 100%;
    position: relative;
    z-index: 999;
    top: 0;
    left: 0;
    max-width: 1920px;
    inset: 0 auto;
}


.navBar {
    display: flex;
    padding: clamp(1.25rem, 0.8889rem + 1.5408vw, 1.875rem) clamp(1.25rem, 0.1666rem + 4.6225vw, 3.125rem);
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    top: 0;
    background: none;
    position: relative;
    transition: padding 0.5s cubic-bezier(0.25, 1, 0.5, 1);

    max-width: 1920px;
    margin: 0 auto;
}

.navSub {
    display: none;
}


.logo {
    /* font-size: 24px; */
    font-size: clamp(1.25rem, .6786rem + .8929vw, 1.75rem);
}



.dropdown {
    position: fixed;
    z-index: 105;
    background-color: #181f6f;
    width: 100%;
    height: auto;
    /* top: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;  
}
.dropdown.open{
    transform: translateX(0);
}
.dropdown a {
    color: white;
    font-size: 1.5rem;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    transition: all 0.25s ease-in-out;
    position: relative;
}

.overlay.open {
    opacity: 1;
    pointer-events: all;
}

.dropdown a:hover {
    background-color: white;
    color: black;
}
.dropdown a.active {
    font-weight: 800;
}

.overlay {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(.5,0,.5,1);
}

.nav .navBar .actions .menus a {
    color: white;
    position: relative;
}

.nav .menus a.active {
    font-weight: 700;
}
.nav .navBar .actions .menus a::after {
    content: "";
    width: 0;
    background-color: #181f6f;
    height: 5px;
    border-radius: 50rem;
    margin-top:2.5px;
    display: block;
    position: absolute;
    transition: width 0.25s ease-in;
}
.nav .navBar .actions .menus a.active::after {
    width: 100%;
}


.menus {
    display: none;
}

.bars {
    font-size: 2rem;
}



@media screen and (min-width: 1024px) {
    
    .navSub {
        display: block;
        padding: 10px clamp(1.25rem, 0.1666rem + 4.6225vw, 3.125rem);
        transition: padding 0.5s cubic-bezier(0.25, 1, 0.5, 1);
        background-color: #181f6f;
    }

    .nav {
        position: relative;
        top: 0;
    }
    
    .dropdown, .bars {
        display: none;
    }

    .dropdown.active {
        display: none;
    }



    .menus {
        display: flex;
        align-items: center;
        /* gap: clamp(1.25rem, 0.9643rem + 0.4464vw, 1.5rem); */
        gap: clamp(0.625rem, 0.2679rem + 0.558vw, 0.9375rem);
    }
    .menus a {
        text-align: center;
        /* font-size: clamp(1.25rem, 0.6786rem + 0.8929vw, 1.75rem); */
        font-size: clamp(1rem, 0.7143rem + 0.4464vw, 1.25rem);
    }
    .menuIcon {
        font-size: 1rem;
    }

}