.container {
    }
    
    .subhero {
        max-width: 768px;
        width: 100vw;
        overflow: hidden;
        position: relative;
    }
    .subhero::after {
        content: '';
        display: block;
        bottom: 0;
        width: 100%;
        height: 5px;
        position: absolute;
        background: var(--hero-line);
        /* background: linear-gradient(to right, white 0%, white 20%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 0.5) 45%, var(--heading-color) 45%, var(--heading-color) 55%, rgba(0, 0, 0, 0.5) 55%, rgba(0, 0, 0, 0.5) 80%, white 80%, white 100%); */
    }
    
    .subhero img {
        max-width: 768px;
        width: 100%;
        object-fit: cover;
        object-position: 50% 60%;
        height: 100%;
        overflow: hidden;
        display: block;
        
    }
    
    .subhero .overlay {
        background: linear-gradient(to bottom, rgba(24, 16, 242, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%), rgba(24, 24, 24, 0.84);
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
    }
    
    .header {
        height: 100%;
        max-height: calc(100% - 4rem);
        max-width: 1920px;
        width: 100vw;
        position: absolute;
        top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }
    
    .header .title {
        font-size: var(--font-size-subhero);
        color: white;
        text-align: center;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .header span.lastWord {
        color: var(--heading-color);
    }

    .header p a {
        color: #808080;
        font-weight: 300; 
    }
    .header p  {
        color: var(--heading-color);
        font-size: 1.125rem;
    }
    .header p svg {
        color: #808080;
        font-size: 0.75rem;
    }


    @media screen and (min-width: 768px) {

        .subhero {
            max-height: 50vh;
            min-height: 35vh;
            max-width: 1920px;
            margin: 0 auto;
        }
        .subhero img {
            max-width: 1920px;
            object-position: 50% 30%;
        }

        
    }