.container {
    }
    
    .subhero {
        max-width: 768px;
        width: 100vw;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
    }
    /* .subhero::after {
        content: '';
        display: block;
        bottom: 0;
        width: 100%;
        height: 5px;
        position: absolute;
        background: var(--hero-line);
    } */
    
    .subhero img {
        max-width: 768px;
        width: 100%;
        object-fit: cover;
        /* object-position: 50% 60%; */
        height: 100%;
        overflow: hidden;
        display: block;
        
    }
    
    .subhero .overlay {
        /* background: linear-gradient(to bottom, rgba(24, 16, 242, 0.2) 0%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%), rgba(24, 24, 24, 0.84); */
        /* background: linear-gradient(to bottom, rgb(3 7 18 / 0.9) 0%, rgb(3 7 18 / 0.7) 20%, rgb(3 7 18 / 0.5), #030712); */
        /* background: linear-gradient(to top, #030712, rgb(3 7 18 / 0.0)); */
        background: linear-gradient(to bottom, rgba(3, 7, 18, 0.9) 0%, rgba(3, 7, 18, 0.7) 30%, rgba(3, 7, 18, 0.5) 50%, rgba(3, 7, 18, 0.8) 80%, rgb(3, 7, 18) 100%);
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
    }

    .subhero:nth-of-type(2) {
background: linear-gradient(to top, rgb(3, 7, 18, 0.5), transparent, transparent);
    }
    
    .header {
        height: 100%;
        max-height: calc(100% - 4rem);
        max-width: 1400px;
        width: 100%;
        position: absolute;
        top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;   
    }
    
    .header .title {
        font-size: var(--font-size-subhero);
        color: white;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .header span.lastWord {
        color: var(--heading-color);
    }

    .header .breadCrumbs p a {
        color: #808080;
    }
    .header .breadCrumbs p {
        color: var(--heading-color);
        font-size: 1.125rem;
    }
    .header .breadCrumbs p svg {
        color: #808080;
        font-size: 0.75rem;
    }


    @media screen and (min-width: 768px) {

        .subhero {
            /* max-height: 50vh; */
            min-height: 35vh;
            height: calc(50vh + 4rem + 5px);
            max-width: 1920px;
            margin: 0 auto;
        }
        .subhero img {
            max-width: 1920px;
            /* object-position: 50% 30%; */
        }

        .header {
            max-width: 1400px;
            padding: 1rem clamp(1rem, .0458rem + 4.0712vw, 2rem);
            align-items: unset;
        }

        .header .breadCrumbs {
            font-weight: 500;
        }

        
    }