.footer {
    height: auto;
    width: 100%;
    background-color: #262626;
    min-height: 100px;
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 50px;
    margin-bottom: 30px;
}

.logo {
    height: 100%;
    width: auto;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.footerLeft {
    display: flex;
    gap: 50px;
}

.footerHeading {
    font-size: 32px;
    text-align: left;
    margin-bottom: 15px;
    display: inline-block;
}

.footerMenu {
    display: flex;
    flex-direction: column;
    max-width: 220px;
    width: 100%;
    
}

.menus {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1;
    /* font-size: clamp(1rem, 0.7608rem + 1.0204vw, 1.25rem); */
    font-size: 24px;
    font-weight: 300;
}

.menus a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.menus a:hover {
    color: #3498db;
  transform: translateX(5px);

}
.footerMenu h3 {
}

.footerRight {
    display: flex;
    justify-content: end;
}

.logo img {
    width: 240px;
    height: 100%;
}

.footerBottom {
    padding: 30px;
    text-align: center;
    border-top: 2px solid #808080;
    font-size: 14px;
    background-color: #1a1a1a;
}

.text {
    font-size: 0.875rem;
}

.newsletterField {
    height: 50px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 550px;
}

.newsletterInput {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 20px;
    padding-left: 10px;
}
.newsletterInput::placeholder {
    font-size: 20px;
}

.newsletterSend {
    background-color: rgb(24, 16, 242);
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 0 25px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.newsletterSend:hover {
    background-color: rgba(24, 16, 242, 0.8);
    transform: translateY(-5px);
}

.footerFollow {
    width: 550px;
}

.footerSocials a {
    display: flex;
    aspect-ratio: 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.footerSocials a:hover {
    color: #463ff4;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-3px);
}

.footerSocials {
    display: inline-flex;
    gap: 15px;
    justify-content: center;
}

.icon {
    font-size: 20px;
    display: block;
}



@media screen and (min-width:768px) {
    
    
    .logo img {
        width: clamp(12.0625rem, 7.6042rem + 9.2882vw, 18.75rem);
        height: 100%;
    }
    
}