

.introduction {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1094%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1095%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1020.31 1191.81C1224.03 1023.3 1084.04 245.08 1445.94 223.71 1807.84 202.34 2073.14 500.92 2297.21 504.51' stroke='rgba(240%2c 239%2c 239%2c 0.06274509803921569)' stroke-width='2'%3e%3c/path%3e%3cpath d='M806.42 1181.88C1025.43 1140.3 1068.41 629.37 1469.61 585.81 1870.82 542.25 1948.48 270.32 2132.81 261.81' stroke='rgba(240%2c 239%2c 239%2c 0.06274509803921569)' stroke-width='2'%3e%3c/path%3e%3cpath d='M770.52 1250.77C948.78 1153.67 858.49 560.31 1189.02 554.98 1519.55 549.65 1805.33 832.07 2026.01 835.78' stroke='rgba(240%2c 239%2c 239%2c 0.06274509803921569)' stroke-width='2'%3e%3c/path%3e%3cpath d='M774.89 1139.27C910.28 1132.95 849.79 923.43 1261.6 900.48 1673.41 877.53 1958.53 388.02 2235.02 371.28' stroke='rgba(240%2c 239%2c 239%2c 0.06274509803921569)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1031.02 1229.91C1216.15 1015.36 1069.33 183.76 1386.71 153.65 1704.09 123.54 1897.03 520.15 2098.09 531.65' stroke='rgba(240%2c 239%2c 239%2c 0.06274509803921569)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1094'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='1101.45' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1095'%3e%3cstop stop-color='rgba(50%2c 50%2c 50%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(24%2c 24%2c 24%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    /* height: 100vh; */
    height: auto;
    padding: 100px 0 200px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    opacity: 0;
    animation: fadeIn 0.8s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}


.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 200px; */
}

.introduction h2 {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 80px;
}

.introduction .textContainer {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.introduction .textContainer p {
    font-size: 40px;
    font-weight: 300;
}