.container {
    height: auto;
    width: 100%;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* padding: 50px; */
    flex-direction: column;
    gap: 25px;
}

.carContainer {
    height: auto;
    width: 100%;
    /* max-width: 750px; */
    display: grid;
    
    grid-template-columns:  1fr; 
    /* grid-template-rows: repeat(2, 1fr); */
    /* flex-direction: column; */
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    /* margin: 0 auto; */
    gap: 5px;
}

.carContainer .carTitle {
    /* text-align: center; */
    margin-bottom: 25px;
    font-size: clamp(1.2rem, -0.0436rem + 5.3061vw, 2.5rem);
    font-weight: 700;
    display: block;
}

.carContainer:nth-child(even) {
    /* direction: rtl; */
} 
.column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    
    /* .container {
        padding: 50px 150px;
    } */
    .carContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        gap: 50px;
        /* grid-template-rows: repeat(2, 1fr); */ 
    }

    .carContainer .carTitle {
        /* font-size: clamp(1.246rem, -0.2067rem + 3.0264vw, 3.425rem); */
        font-size: clamp(1.246rem, 0.41rem + 1.7417vw, 2.5rem);
        /* font-size: clamp(1.246rem, 0.0767rem + 2.4361vw, 3rem); */
        display: block;
    }

    
}
/* .carContainer {
    height: auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 1);
} */

.carImage {
    width: 100%;
}
.carImage img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    padding: 0;
    margin: 0;
    
}

/* .carInfo {

} */



/* .carContainer .column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 1); 
} */


/* .carContainer .column {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 1); 
}
.carContainer .column:last-of-type {
    margin-bottom: 0;
} */



/* .carContainer .columnImage img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 10px solid #1810f2;
} */
