.container {
    height: auto;
    width: 100%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    gap: 25px;
}

.carContainer {
    height: auto;
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 0 auto;
    gap: 5px;
    border: 2px solid rgba(255, 255, 255, 1);

}

.carContainer h1 {
    /* text-align: center; */
    margin-bottom: 25px;
}

.carContainer .column {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 1); 
}
.carContainer .column:last-of-type {
    margin-bottom: 0;
}


.carContainer .columnImage img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    padding: 0;
    margin: 0;
    border-bottom: 10px solid #1810f2;
}
